include LICENSE
include README.en.md
include README.md
include pyproject.toml
recursive-include src *.py
recursive-include src py.typed

prune tests
prune docs
prune examples
prune ecosystem
prune products
prune scripts
prune .github
prune .titan
prune src/titan_framework.egg-info